In [ ]:
import pandas as pd
import numpy as np
train = pd.read_json("train.json")
train.set_index('listing_id',inplace=True)

In [28]:
train.head()

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,longitude,manager_id,photos,price,street_address
listing_id,,,,,,,,,,,,,,
7211212,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
7150865,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
6887163,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
6888711,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
6934781,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [29]:
all_feat = []
def extractFeatures(lst):
    global all_feat
    for item in lst:
        all_feat.append(item)
    return all_feat

train['features'].apply(extractFeatures);

In [30]:
feat = pd.DataFrame(all_feat,columns = ['feature'])

top25_count = feat["feature"].value_counts().head(25)

In [31]:
top25 = list(top25_count.index)

In [32]:
def featureBinary(lst,ft):
    if ft in lst:
        return 1
    else:
        return 0

In [33]:
for ft in top25:
    train[ft] = train['features'].apply(lambda x:featureBinary(x,ft))
train = train.drop('features',1)
train.head()

,bathrooms,bedrooms,building_id,created,description,display_address,interest_level,latitude,longitude,manager_id,...,Balcony,Swimming Pool,Laundry In Building,New Construction,Terrace,Exclusive,Loft,Garden/Patio,Wheelchair Access,Common Outdoor Space
listing_id,,,,,,,,,,,,,,,,,,,,,
7211212,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,medium,40.7145,-73.9425,5ba989232d0489da1b5f2c45f6688adc,...,0,0,0,0,0,0,0,0,0,0
7150865,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,low,40.7947,-73.9667,7533621a882f71e25173b27e3139d83d,...,0,0,0,0,0,0,0,0,0,0
6887163,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,high,40.7388,-74.0018,d9039c43983f6e564b1482b273bd7b01,...,0,0,1,0,0,0,0,0,0,0
6888711,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,low,40.7539,-73.9677,1067e078446a7897d2da493d2f741316,...,0,0,0,0,0,0,0,0,0,0
6934781,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,low,40.8241,-73.9493,98e13ad4b495b9613cef886d79a6291f,...,0,0,0,0,0,0,0,0,0,0

Extract the class value which is 'interest_level' and store it as a list. To build a basic model taking into consideration only 'features'. Removed all other features and maintained only the binary values features.

In [73]:
labels = train['interest_level']
newTrain = train.drop(['bathrooms','bedrooms','price','building_id','interest_level','created','description','display_address','latitude','longitude','manager_id','photos','street_address'],1)
newTrain.head()

,Elevator,Cats Allowed,Hardwood Floors,Dogs Allowed,Doorman,Dishwasher,No Fee,Laundry in Building,Fitness Center,Pre-War,...,Balcony,Swimming Pool,Laundry In Building,New Construction,Terrace,Exclusive,Loft,Garden/Patio,Wheelchair Access,Common Outdoor Space
listing_id,,,,,,,,,,,,,,,,,,,,,
7211212,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7150865,1,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6887163,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6888711,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6934781,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [74]:
labels = labels.tolist()

Create an array for values of the features that are used for training.

In [75]:
listing = list(newTrain.index.values)  
values=[]
for l in listing:
    values.append(newTrain.loc[l].tolist())
values = np.array(values)
values.shape

(49352, 25)

Build a Gaussian Naive Bayes Model.

In [76]:
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [77]:
model = GaussianNB()

In [78]:
model.fit(values, labels)

GaussianNB(priors=None)

Perform 10 fold cross validation

In [82]:
from sklearn.model_selection import cross_val_score
y = labels
scores = cross_val_score(model, values, y, cv=10, scoring='accuracy')

Examine the performance

In [83]:
scores.mean()

0.59191165697332127